@import "bulma/utilities/initial-variables";
@import "bulma/utilities/derived-variables.scss";
@import "bulma/utilities/css-variables.scss";
@import "bulma/utilities/functions";

@import "bulma";

a.navbar-item[aria-current]:not([aria-current="false"]) {
  color: hsl(
    $navbar-item-selected-h,
    $navbar-item-selected-s,
    $navbar-item-selected-color-l
  );
  background-color: hsl(
    $navbar-item-selected-h,
    $navbar-item-selected-s,
    $navbar-item-selected-background-l
  );
}
