[package]
name = "app"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
leptos.workspace = true
leptos_meta.workspace = true
leptos_router.workspace = true
leptos_axum = { workspace = true, optional = true }
entities_lib = { path = "../model/entities_lib", optional = true }
neo4rs = { workspace = true, optional = true }
web-sys = { workspace = true, optional = true, features = [
  "Document",
  "Element",
  "HtmlElement",
] }

shared = { path = "../shared", default-features = false, optional = true }

http.workspace = true
cfg-if.workspace = true
thiserror.workspace = true
tokio = { workspace = true, optional = true }

[features]
default = []
hydrate = ["leptos/hydrate", "dep:web-sys"]
ssr = [
  "leptos/ssr",
  "leptos_meta/ssr",
  "leptos_router/ssr",
  "dep:leptos_axum",
  "dep:shared",
  "dep:entities_lib",
  "dep:neo4rs",
  "dep:tokio",
  "dep:web-sys",
]
